
.navbar .navbar-brand 
{
  padding-top: 10px;
}

.navbar .navbar-brand img 
{
  height: 40px;
  width: 40px;
}

.code
{
    border-radius: 5px;
    padding-left: 15px;
    width: 75%;
}

.footer
{
    background-color: #555;
    color: white;
    padding: 25px;
}
    
.carousel-inner img 
{
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) 
{
  .carousel-caption 
  {
    display: none; 
  }
}

